name: Release

on:
  push:
    branches:
      - master

permissions:
  contents: write
  actions: write

jobs:
  release:
    uses: peavers-warcraft/workflow-templates/.github/workflows/release.yml@master
    with:
      toc_file: PeaversRemembersYou.toc
      addon_name: PeaversRemembersYou
      git_user_name: Chris Turner
      git_user_email: peavers@gmail.com
      use_self_hosted: false
    secrets: inherit
